@model IEnumerable<WebApplication.Models.AverageConversionModel>

@{
    ViewBag.Title = "Average Conversions";
}

<h2>Average Conversions</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Iso)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rate)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Iso)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Rate)
        </td>
    </tr>
}

</table>
